<!DOCTYPE html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
	<!-- Latest compiled JavaScript -->
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->


	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>

	<link rel="stylesheet" type="text/css" href="/sugarhead/scripts/css/federicoGhedina.css">
	<link rel="stylesheet" type="text/css" href="/sugarhead/scripts/css/sugarHead.css">

</head>
<body ng-app="sugarApp" ng-controller="sugarCtrl" id="ngApp" style="visibility:hidden;opacity:0;">
	
	<div id="topSection">
		<div class="topSubSection middleCenter">
	 		<span id="repeatButton" class="glyphicon glyphicon-repeat audioController songOrderControllers" ng-click="audioControl('repeat')">
	 		</span>

			<span id="prevSongButton" class="glyphicon glyphicon-backward audioController songPlayingController" ng-click="audioControl('prev')">
			</span>

			<span id="playButton" class="glyphicon glyphicon-play audioController songPlayingController" ng-click="audioControl('play')">
			</span>

			<span id="pauseButton" class="glyphicon glyphicon-pause audioController songPlayingController hidden" ng-click="audioControl('pause')">
			</span>	
			
			<span id="nextSongButton" class="glyphicon glyphicon-forward audioController songPlayingController" ng-click="audioControl('next') ">
			</span>
	 		
	 		<span id="shuffleButton" class="glyphicon glyphicon-random audioController songOrderControllers" ng-click="audioControl('shuffle')">
	 		</span>
		</div>
		<div class="topSubSection middleCenter">
			<div style="width:100%;">
				<h4 id="songName" ng-click="findCurrentSong()"></h4>
				<div id="songScrollContainer" style="display:none;" >
			 		<div id="barCnt" class="barCnt" style="margin-bottom:10px;">
				 		<input ng-model="currentScrollPosition" type="range" min=0 max=100 value=0 step=1 id="range2" class="colorized" ng-click="audioControl('scroll')" ng-mousedown="audioControl('preScroll')" ng-change="audioControl('scroll')" ng-mouseup="audioControl('postScroll')"/>
			 			<p id="preBar" class="preBar"></p>
			 		</div>
					<span id="currentTime" ng-click="setCurrentTime()">{{currentTime | songTime }}</span>
					<span id="durationTime" ng-click="setDuration()">{{duration | songTime }}</span>
				</div>
				</div>
		</div>
		<div class="topSubSection middleCenter">
			<span class="glyphicon glyphicon-search searchIcon" contenteditable="false"></span>		
			<input id="searchBox" type="text" name="search" placeholder="Search for song, album or year" style="" ng-model="filterBy"/>	
			<span id="resetSearch" class="glyphicon glyphicon-remove searchIcon" ng-show="filterBy" ng-click="filterBy = '' "></span>
		</div>	
	</div>

	<div id="songSection">
		<table id="songListing">
 			<thead>
	 			<tr>
	 				<th data-ng-click="setSort('songOrder')" > 
	 					&nbsp;
	 					<span ng-show="allOneAlbum" class="ng-hide">
	 						<span class="glyphicon glyphicon-triangle-top" ng-show=" sortValue == 'songOrder' && !sortReverse "></span>
	 						<span class="glyphicon glyphicon-triangle-bottom" ng-show=" sortValue == 'songOrder' && sortReverse "></span>
	 					</span>
	 					
	 				</th>
	 				<th data-ng-click="setSort('songName')">
	 					Title
	 					<span class="glyphicon glyphicon-triangle-top" ng-show=" sortValue == 'songName' && !sortReverse "></span>
	 					<span class="glyphicon glyphicon-triangle-bottom" ng-show=" sortValue == 'songName' && sortReverse "></span>
	 				</th>
	 				<th data-ng-click="setSort('songLength')">
	 					Length
						<span class="glyphicon glyphicon-triangle-top" ng-show=" sortValue == 'songLength' && !sortReverse "></span>
	 					<span class="glyphicon glyphicon-triangle-bottom" ng-show=" sortValue == 'songLength' && sortReverse "></span>
	 				</th>
	 				<th data-ng-click="setSort('songAlbum')">
	 					Album
		 				<span class="glyphicon glyphicon-triangle-top" ng-show=" sortValue == 'songAlbum' && !sortReverse "></span>
	 					<span class="glyphicon glyphicon-triangle-bottom" ng-show=" sortValue == 'songAlbum' && sortReverse "></span>
	 				</th>
	 				<th data-ng-click="setSort('songReleaseYear')">
	 					Year
	 					<span class="glyphicon glyphicon-triangle-top" ng-show=" sortValue == 'songReleaseYear' && !sortReverse "></span>
	 					<span class="glyphicon glyphicon-triangle-bottom" ng-show=" sortValue == 'songReleaseYear' && sortReverse "></span>
	 				</th>
	 			</tr>
	 		</thead>
	 		<tbody id="songsList">
	 			<tr class="aSong show-delay animate-repeat" ng-repeat="song in theSongs | filter: filterFunc | orderBy:sortValue:sortReverse" ng-dblclick="rowClick($event)" data-track-name="{{song.trackName}}" data-album-name="{{song.songAlbum}}" data-song-selected="{{song.highlighted}}" song-row>
	 			</tr>
	 			<tr ng-show="results == 1" class="ng-hide" style="text-align:center;">
	 				<td colspan='4' style="text-align:center; width:100%; padding:1%">
	 					<h4>No Results Found</h4>
	 				</td>
	 			</tr>
	 		</tbody>
	 	</table>
	</div>
<div id="songRes" style="width:1px; height:1px;">
	<audio id="currentAudio" style="width:1px; height:1px;" autoplay>
	<source id="currentSong_mp3" type="audio/mpeg">
	<source id="currentSong_mp4" type="audio/mp4">
	</audio>
</div>

<script type="text/javascript" src="/sugarhead/scripts/js/angularSugar.js"></script>

</body>
</html>
