<div id="leftOffContent">
	<span id="closeModalX" ng-click="closeModal()">x</span>
	<h4>Pick up where you left off?</h4>
	<!-- <p id="leftOffSong">Song Name</p> -->
	<button id="playLeftOffButton" class="leftOffActionButton" ng-click="playLeftOffSong()">Yes</button>
	<button id="closeModalButton" class="leftOffActionButton" ng-click="closeModal()">No</button>
</div>
<div id="welcomeContent">
	<h2>Sugar Head Central <span id="siteTitleCopyRight">&copy;</span></h2>
	<p class="welcomeSentence">This site is dedicated to music from Nu Vybes Band Intl. aka "De Sugar Band"</p>
	<p class="welcomeSentence">It includes all of their official album songs from <strong>1996 to {{currentYear}}</strong></p>
	<p class="welcomeSentence">Listen and enjoy hours of sweet music!</p>
	<p class="welcomeSentence">Soon, you too will be a <a id="defineSugarHead" ng-click="defineSugarHead()">Sugar Head!</a></p>
	<hr class="hideOnMobile"/>
	<h3 class="hideOnMobile">Keyboard Shortcuts</h3>
	<div class="keyboardButtonSection">
		<p class="keyboardButton">spacebar</p> 
		<p>Play / Pause</p>
	</div>
	<div class="keyboardButtonSection">
		<p class="keyboardButton">right arrow</p>
		<p>Next Song</p>
	</div>
	<div class="keyboardButtonSection">
		<p class="keyboardButton">left arrow</p>
		<p>Previous Song</p>
	</div>
	<br/><br/>
	<div class="keyboardButtonSection">
		<p class="keyboardButton">S</p>
		<p>Toggle Shuffle</p>
	</div>
	<div class="keyboardButtonSection">
		<p class="keyboardButton">R</p>
		<p>Toggle Repeat</p>
	</div>
	<div class="keyboardButtonSection">
		<p class="keyboardButton">C</p>
		<p>Scroll To Current Song</p>
	</div>
</div>