<th data-ng-click="setSort('{{header.SortValue}}')">
	{{header.Header}}
	<span class="glyphicon glyphicon-triangle-top" ng-show=" sortValue == '{{header.SortValue}}' && !sortReverse "></span>
	<span class="glyphicon glyphicon-triangle-bottom" ng-show=" sortValue == '{{header.SortValue}}' && sortReverse "></span>
</th>
<!-- <th data-ng-click="setSort('{{header.SortValue}}')">
	{{header.Header}}
	<span class="glyphicon glyphicon-triangle-top" ng-show=" sortValue == '{{header.SortValue}}' && !sortReverse "></span>
	<span class="glyphicon glyphicon-triangle-bottom" ng-show=" sortValue == '{{header.SortValue}}' && sortReverse "></span>
</th>
<th data-ng-click="setSort('{{header.SortValue}}')">
	{{header.Header}}
<span class="glyphicon glyphicon-triangle-top" ng-show=" sortValue == '{{header.SortValue}}' && !sortReverse "></span>
	<span class="glyphicon glyphicon-triangle-bottom" ng-show=" sortValue == '{{header.SortValue}}' && sortReverse "></span>
</th>
<th data-ng-click="setSort('{{header.SortValue}}')">
	{{header.Header}}
	<span class="glyphicon glyphicon-triangle-top" ng-show=" sortValue == '{{header.SortValue}}' && !sortReverse "></span>
	<span class="glyphicon glyphicon-triangle-bottom" ng-show=" sortValue == '{{header.SortValue}}' && sortReverse "></span>
</th>
<th data-ng-click="setSort('{{header.SortValue}}')">
	{{header.Header}}
	<span class="glyphicon glyphicon-triangle-top" ng-show=" sortValue == '{{header.SortValue}}' && !sortReverse "></span>
	<span class="glyphicon glyphicon-triangle-bottom" ng-show=" sortValue == '{{header.SortValue}}' && sortReverse "></span>
</th> -->